html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#logoContainer {
    width: 100%;
}
#svg8 {
    position: absolute;
    top: 50px;
    max-width: 100px;
}